include LICENSE
include README.md
include pyproject.toml
include requirements.txt

exclude build.cmd build.sh CMakeLists.txt .gitignore
exclude .githubbuild_and_publish.yaml

recursive-include stl2obj/src *.h *.cpp
recursive-include stl2obj *.pyx *.py

recursive-exclude examples *
recursive-exclude docs *
recursive-exclude files *.stl
recursive-exclude recipes *
recursive-exclude __pycache__ *
recursive-exclude .github *
