include LICENSE
include README.md
include pyproject.toml
include requirements.txt
exclude build.cmd build.sh CMakeLists.txt .gitignore
recursive-include stl2obj *.pyx *.h *.cpp
recursive-exclude examples *
recursive-exclude files *.stl
recursive-exclude __pycache__ *
recursive-exclude stl2obj.egg-info *
recursive-exclude .github *